.App {
  text-align: center;
  margin: 10px;
  background-color: aqua;
  box-shadow: 0.5px 0.5px 8px 0.5px black;
  border-radius: 8px;
  padding: 5px;
}
.btn{
background-color: #6c5ce7;
color:white;
border:2px solid black;
margin: 5px;
padding: 5px 20px;
cursor: pointer;
border-radius: 4px;
transition: 0.5s;
}
.btn:hover{
  background-color: #201a52;
}
.input{
  padding: 5px 5px;
}